.form-container {
  max-width: 600px;
  border-radius: 10px;

  .form-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .input-group {
    display: flex;
    gap: 24px;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #dedede;
    border-radius: 10px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    height: 56px;

    &:focus {
      outline: none;
      border-color: #e5edf7;
      box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
    }

    &::placeholder {
      color: #616161;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 2%;
    }
  }

  textarea {
    min-height: 120px;
    max-height: 200px;
    resize: vertical;
  }

  button {
    background: white;
    font-size: 18px;
    font-weight: 500;
    color: #1e1e1e;
    border: 1px solid #eef0f3;
    border-radius: 50px;
    width: fit-content;
    line-height: 120%;
    letter-spacing: 2%;
    padding: 12px 24px;
    cursor: pointer;
  }
}
