header {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  transition: background-color 0.3s ease;

  nav {
    ul {
      display: flex;
      gap: 1rem;
      list-style: none;
      li {
        a {
          text-decoration: none;
          color: var(--text-primary);
          outline: none;
          transition: color 0.3s ease;

          &:hover {
            color: var(--text-secondary);
          }
        }
      }
    }
  }
}
